<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Kiwi-El-Gato</title>
    <script src="loadWheel.js" defer></script>
    <script src="mobileNav.js" defer></script>
    <script src="script.js" defer></script>
    <link rel="shortcut icon" type="image/jpg" href="Kiwi-cat-logo-1.png"/>
    <link
    href="Homepage.css"
    rel="stylesheet"
    type="text/css"
    media="all"
    />
</head>
<body>
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    <div class="loadWheel">
        KIWI
        <span class="loadWheelSpan"></span>
    </div>
    <section class="contentPage">
        <header>
            <article id="backgroundnavigationmenu">
                        <div class="navigationlogo">
                                <a href="index.html" class="logoAnimation">
                                    <img class="logo" src="Kiwi-cat-logo-1.png" width="60px" height="60px" alt="thekiwicatlogo">
                                    </img>
                                </a>
                            <div class="menu-toggle" id="mobile-menu">
                                <button id="expandbtn">MENU</button>
                            </div>
                            <nav class="navigationitems">
                                <a href="index.html" class="item" id="itemHome">HOME</a> 
                                <a href="Aboutpage.html" class="item" id="itemAbout">ABOUT</a>
                                <a href="Education.html" class="item">EDUCATION</a>
                                <a href="web-code.html" class="item">WEB-CODE</a>
                                <a href="Youtube.html" class="item">YOUTUBE</a>
                                <a href="contact.html" class="item">CONTACT</a>
                            </nav>
                        </div>
            </article>
        </header>
        <article class="banner">
            <div id="bannerText" class="bannerText">
                KIWI- 
                <div id="el">
                    EL- 
                </div>
                GATO
            </div>
            </article>
            <main>
                <section class="container">
                    <footer class="mediaIcons">
                        <div class="specificIcon">
                            <a href="https://www.youtube.com/channel/UCyZNua339uzpe3pCznI623Q" target="_blank" class="mediaLinks">
                                <img src="YoutubeLogo3(white).png" alt="Youtubelogo" height="40px" width="40 px">
                            </a>
                        </div>
                        <div class="specificIcon">
                            <a href="https://www.instagram.com/kiwielgato1/" target="_blank" class="mediaLinks">
                            <img src="InstagramLogo3(White).png" alt="IGlogo" height="40px" width="40px">
                            </a>
                        </div>
                        <div class="specificIcon">
                            <a href="https://www.tiktok.com/@kiwielgato1/video/6967039161526258949?lang=en&is_copy_url=0&is_from_webapp=v1&sender_device=pc&sender_web_id=6965528173161481733" target="_blank" class="mediaLinks">
                            <img src="TikTOkLogo 3(white).png" alt="Tiktoklogo" height="40px" width="40px">
                            </a>
                        </div>
                    </footer>
                    <div class="pageLink">
                        <form action="https://youtu.be/MZguKwLbHdM" target="blank">
                            <button type="submit" class="SMlogo">Kimmunity</button>
                        </form>
                    </div>
                </section>
            </main>
    </section>
</body>
</html>