<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Kiwi-El-Gato</title>
    <script src="mobileNav.js" defer></script>
    <link rel="shortcut icon" type="image/jpg" href="Kiwi-cat-logo-1.png"/>
    <link
    href="Youtube.css"
    rel="stylesheet"
    type="text/css"
    media="all"
    />
    <script src="youtubeCollapsible.js" defer></script>
 </head>
<body>
   <header>
       <article id="backgroundnavigationmenu">
                <div class="navigationlogo">
                    <a href="index.html">
                        <img class="logo" src="Kiwi-cat-logo-1.png" width="60px" height="60px" alt="thekiwicatlogo">
                       </img>
                       </a>
                       <div class="menu-toggle" id="mobile-menu">
                        <button id="expandbtn">MENU</button>
                    </div>
                    <nav class="navigationitems">
                        <a href="index.html" class="item">HOME</a> 
                        <a href="Aboutpage.html" class="item">ABOUT</a>
                        <a href="Education.html" class="item">EDUCATION</a>
                        <a href="web-code.html" class="item">WEB-CODE</a>
                        <a href="Youtube.html" class="item">YOUTUBE</a>
                        <a href="contact.html" class="item">CONTACT</a>
                    </nav>
                </div>
       </article>
   </header>
   <article class="youtubecontent">
       <div class="editbanner">
        <img src="editing.jpg" alt="editbanner" height="350px" width="1450px" class="youtubePageImg">
        </div>
       <header class="youtubeheader">
        Kiwi-Tube
       </header>
       <div class="youtubeelements">
           <h1>
               Educational Videos
           </h1>
       </div>
            <section class="canvascontainer">
                <div class="canvasimg">
                    <iframe class="vid" width="560" height="315" src="https://www.youtube.com/embed/mGJm9EmLHyc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="canvastext">
                        <button type="submit" class="btn expButton" id="expButton">Canvas Tips/Tricks</button>
                    <p id="expText" class="exp0">
                        A short video going over the best features for students using Canvas. 
                        This includes a brief overview of the Canvas App and the Canvas Studio which commonly aren’t used by students.
                    </p>
                </div>
            </section>
                 <section class="projectcontainer">
                     <div class="projectimg">
                        <iframe class="vid" width="560" height="315" src="https://www.youtube.com/embed/pXDZp8jSskk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                     </div>
                     <div class="projecttext">
                            <button type="submit" class="btn expButton" id="expButton">Project Calabasas</button>
                         <p id="expText" class="exp1">
                            A short film created to display the power of video-editing software. 
                            This particular film was edited using Davinci Resolve 17 which is free on both Mac and Windows. 
                            What’s great about this video was that it took only 2 people to create. 
                            It serves as a prime example of what’s possible through imagination and videography.
                         </p>
                     </div>
                 </section>
                <section class="kiwicontainer">
                    <div class="kiwiimg">
                        <iframe class="vid" width="560" height="315" src="https://www.youtube.com/embed/MZguKwLbHdM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="kiwitext">
                            <button type="submit" class="btn expButton" id="expButton">Who is Kiwi</button>
                             <p id="expText" class="exp2">
                                An animation created to explain to new students what Kiwi-El-Gato is, and how they can access Kiwi’s free content.
                             </p>
                    </div>
                </section>
                     <section class="virtualcontainer">
                         <div class="virtualimg">
                            <iframe class="vid" width="560" height="315" src="https://www.youtube.com/embed/uFEXPqIHVJQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                         </div>
                         <div class="virtualtext">
                                <button type="submit" class="btn expButton" id="expButton">Actualizacion Virtual</button>
                             <p id="expText" class="exp3">
                                A promotional film created to display all of the new content coming to Kiwi-El-Gato this summer.
                             </p>
                         </div>
                     </section>    
                         <section class="semestercontainer">
                             <div class="semesterimg">
                                <iframe class="vid" width="560" height="315" src="https://www.youtube.com/embed/EKgpqOFlz3M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                             </div>
                             <div class="semestertext">
                                    <button type="submit" class="btn expButton" id="expButton">Semester Grades</button>
                                 <p id="expText" class="exp4">
                                    A video explaining what semester grades actually are, why their important, and how to calculate them. 
                                    This video also comes with two free semester grade calculators as well.
                                 </p>
                             </div>
                         </section>         
                             <section class="volunteercontainer">
                                 <div class="volunteerimg">
                                    <iframe class="vid" width="560" height="315" src="https://www.youtube.com/embed/16IPrqAMD7A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                 </div>
                                 <div class="volunteertext">
                                        <button type="submit" class="btn expButton" id="expButton">Volunteer Hours</button>
                                     <p id="expText" class="exp5">
                                        A video explaining the requirements for volunteer hours, the forms required to register hours, 
                                        and the hours needed to graduate high school and obtain certain scholarships.
                                     </p>
                                 </div>
                             </section>            
                                 <section class="exemptioncontainer">
                                     <div class="exemptionimg">
                                        <iframe class="vid" width="560" height="315" src="https://www.youtube.com/embed/Q_Qk0PYcyk4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                     </div>
                                     <div class="exemptiontext">
                                            <button type="submit" class="btn expButton" id="expButton">Exemption Grades</button>
                                         <p id="expText" class="exp6">
                                            A video explaining what exemption grades are, the requirements for exempting a class, 
                                            and how to calculate an exempted grade. 
                                            This video also offers a free document that automatically calculates your exemption grade.
                                         </p>
                                     </div>
                                 </section>        
                                     <section class="linearcontainer">
                                         <div class="linearimg">
                                            <iframe class="vid" width="560" height="315" src="https://www.youtube.com/embed/_9YXGE6S9N0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                         </div>
                                         <div class="lineartext">
                                                <button type="submit" class="btn expButton" id="expButton">Linear Equations</button>
                                             <p id="expText"  class="exp7">
                                                A video explaining what Linear Equations are, 
                                                all the formulas and content needed for them, 
                                                and practice questions to explain them.
                                             </p>
                                         </div>
                                     </section>              
                                         <section class="factorcontainer">
                                             <div class="factorimg">
                                                <iframe class="vid" width="560" height="315" src="https://www.youtube.com/embed/inQk2Xrea-A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                             </div>
                                             <div class="factortext">
                                                    <button type="submit" class="btn expButton" id="expButton">Factoring Quadratics</button>
                                                 <p id="expText" class="exp8">
                                                    A video explaining how the factor quadratic equations 
                                                    and all the methods to factor different quadratics. 
                                                    It also offers worked out practice problems to factor quadratics.
                                                 </p>
                                             </div>
                                         </section>   
                                             <section class="quadraticscontainer">
                                                 <div class="quadraticsimg">
                                                    <iframe class="vid" width="560" height="315" src="https://www.youtube.com/embed/OhW3YQNZg9w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                                 </div>
                                                 <div class="quadraticstext">
                                                        <button type="submit" class="btn expButton" id="expButton">Quadratics Overview</button>
                                                     <p id="expText"  class="exp9">
                                                        A video explaining what Quadratic Equations are, 
                                                        all the formulas and content needed for them, 
                                                        and worked out practice questions to explain them.
                                                     </p>
                                                 </div>
                                             </section>    
                                                  <section class="systemscontainer">
                                                      <div class="systemsimg">
                                                        <iframe class="vid" width="560" height="315" src="https://www.youtube.com/embed/WUEGKLKxM-I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                                      </div>
                                                      <div class="systemstext">
                                                            <button type="submit" class="btn expButton" id="expButton">Systems of Equations</button>
                                                          <p id="expText" class="exp10">
                                                            A video explaining what systems of equations are and all the different properties they have. 
                                                            This video also provides different methods to solve them and visual/written worked out problems.
                                                          </p>
                                                      </div>
                                                  </section>   
                                                      <section class="inequalitiescontainer">
                                                          <div class="inequalitiesimg">
                                                            <iframe class="vid" width="560" height="315" src="https://www.youtube.com/embed/8I-MChkX5kQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                                          </div>
                                                          <div class="inequalitiestext">
                                                                <button type="submit" class="btn expButton" id="expButton">Inequalities</button>
                                                              <p id="expText"  class="exp11">
                                                                A video explaining what inequalities are, all the rules for solving inequalities, 
                                                                and worked out practice problems for them.
                                                              </p>
                                                          </div>
                                                      </section>     
                                                           <section class="satcontainer">
                                                               <div class="satimg">
                                                                <iframe class="vid" width="560" height="315" src="https://www.youtube.com/embed/iK8OzcGd3Do" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                                               </div>
                                                               <div class="sattext">
                                                                    <button type="submit" class="btn expButton" id="expButton">SAT Score</button>
                                                                   <p id="expText"  class="exp12">
                                                                    A video providing some of the best resources for a better SAT/ACT score.
                                                                   </p>
                                                               </div>
                                                           </section>     
    </article>
    <main>
        <section class="container">
            <div>
                <div class="wrapper">
                    <a class="ctaY" href="https://www.youtube.com/channel/UCyZNua339uzpe3pCznI623Q" target="blank">
                      <span>KIWI-TUBE</span>
                      <span>
                        <svg width="66px" height="43px" viewBox="0 0 66 43" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <g id="arrow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <path class="one" d="M40.1543933,3.89485454 L43.9763149,0.139296592 C44.1708311,-0.0518420739 44.4826329,-0.0518571125 44.6771675,0.139262789 L65.6916134,20.7848311 C66.0855801,21.1718824 66.0911863,21.8050225 65.704135,22.1989893 C65.7000188,22.2031791 65.6958657,22.2073326 65.6916762,22.2114492 L44.677098,42.8607841 C44.4825957,43.0519059 44.1708242,43.0519358 43.9762853,42.8608513 L40.1545186,39.1069479 C39.9575152,38.9134427 39.9546793,38.5968729 40.1481845,38.3998695 C40.1502893,38.3977268 40.1524132,38.395603 40.1545562,38.3934985 L56.9937789,21.8567812 C57.1908028,21.6632968 57.193672,21.3467273 57.0001876,21.1497035 C56.9980647,21.1475418 56.9959223,21.1453995 56.9937605,21.1432767 L40.1545208,4.60825197 C39.9574869,4.41477773 39.9546013,4.09820839 40.1480756,3.90117456 C40.1501626,3.89904911 40.1522686,3.89694235 40.1543933,3.89485454 Z" fill="#FFFFFF"></path>
                            <path class="two" d="M20.1543933,3.89485454 L23.9763149,0.139296592 C24.1708311,-0.0518420739 24.4826329,-0.0518571125 24.6771675,0.139262789 L45.6916134,20.7848311 C46.0855801,21.1718824 46.0911863,21.8050225 45.704135,22.1989893 C45.7000188,22.2031791 45.6958657,22.2073326 45.6916762,22.2114492 L24.677098,42.8607841 C24.4825957,43.0519059 24.1708242,43.0519358 23.9762853,42.8608513 L20.1545186,39.1069479 C19.9575152,38.9134427 19.9546793,38.5968729 20.1481845,38.3998695 C20.1502893,38.3977268 20.1524132,38.395603 20.1545562,38.3934985 L36.9937789,21.8567812 C37.1908028,21.6632968 37.193672,21.3467273 37.0001876,21.1497035 C36.9980647,21.1475418 36.9959223,21.1453995 36.9937605,21.1432767 L20.1545208,4.60825197 C19.9574869,4.41477773 19.9546013,4.09820839 20.1480756,3.90117456 C20.1501626,3.89904911 20.1522686,3.89694235 20.1543933,3.89485454 Z" fill="#FFFFFF"></path>
                            <path class="three" d="M0.154393339,3.89485454 L3.97631488,0.139296592 C4.17083111,-0.0518420739 4.48263286,-0.0518571125 4.67716753,0.139262789 L25.6916134,20.7848311 C26.0855801,21.1718824 26.0911863,21.8050225 25.704135,22.1989893 C25.7000188,22.2031791 25.6958657,22.2073326 25.6916762,22.2114492 L4.67709797,42.8607841 C4.48259567,43.0519059 4.17082418,43.0519358 3.97628526,42.8608513 L0.154518591,39.1069479 C-0.0424848215,38.9134427 -0.0453206733,38.5968729 0.148184538,38.3998695 C0.150289256,38.3977268 0.152413239,38.395603 0.154556228,38.3934985 L16.9937789,21.8567812 C17.1908028,21.6632968 17.193672,21.3467273 17.0001876,21.1497035 C16.9980647,21.1475418 16.9959223,21.1453995 16.9937605,21.1432767 L0.15452076,4.60825197 C-0.0425130651,4.41477773 -0.0453986756,4.09820839 0.148075568,3.90117456 C0.150162624,3.89904911 0.152268631,3.89694235 0.154393339,3.89485454 Z" fill="#FFFFFF"></path>
                          </g>
                        </svg>
                      </span> 
                    </a>
                  </div>
            </div>
            <div>
                <div class="wrapper">
                    <a class="ctaI" href="https://www.instagram.com/kiwielgato1/" target="blank">
                      <span>KIWI-GRAM</span>
                      <span>
                        <svg width="66px" height="43px" viewBox="0 0 66 43" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <g id="arrow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <path class="one" d="M40.1543933,3.89485454 L43.9763149,0.139296592 C44.1708311,-0.0518420739 44.4826329,-0.0518571125 44.6771675,0.139262789 L65.6916134,20.7848311 C66.0855801,21.1718824 66.0911863,21.8050225 65.704135,22.1989893 C65.7000188,22.2031791 65.6958657,22.2073326 65.6916762,22.2114492 L44.677098,42.8607841 C44.4825957,43.0519059 44.1708242,43.0519358 43.9762853,42.8608513 L40.1545186,39.1069479 C39.9575152,38.9134427 39.9546793,38.5968729 40.1481845,38.3998695 C40.1502893,38.3977268 40.1524132,38.395603 40.1545562,38.3934985 L56.9937789,21.8567812 C57.1908028,21.6632968 57.193672,21.3467273 57.0001876,21.1497035 C56.9980647,21.1475418 56.9959223,21.1453995 56.9937605,21.1432767 L40.1545208,4.60825197 C39.9574869,4.41477773 39.9546013,4.09820839 40.1480756,3.90117456 C40.1501626,3.89904911 40.1522686,3.89694235 40.1543933,3.89485454 Z" fill="#FFFFFF"></path>
                            <path class="two" d="M20.1543933,3.89485454 L23.9763149,0.139296592 C24.1708311,-0.0518420739 24.4826329,-0.0518571125 24.6771675,0.139262789 L45.6916134,20.7848311 C46.0855801,21.1718824 46.0911863,21.8050225 45.704135,22.1989893 C45.7000188,22.2031791 45.6958657,22.2073326 45.6916762,22.2114492 L24.677098,42.8607841 C24.4825957,43.0519059 24.1708242,43.0519358 23.9762853,42.8608513 L20.1545186,39.1069479 C19.9575152,38.9134427 19.9546793,38.5968729 20.1481845,38.3998695 C20.1502893,38.3977268 20.1524132,38.395603 20.1545562,38.3934985 L36.9937789,21.8567812 C37.1908028,21.6632968 37.193672,21.3467273 37.0001876,21.1497035 C36.9980647,21.1475418 36.9959223,21.1453995 36.9937605,21.1432767 L20.1545208,4.60825197 C19.9574869,4.41477773 19.9546013,4.09820839 20.1480756,3.90117456 C20.1501626,3.89904911 20.1522686,3.89694235 20.1543933,3.89485454 Z" fill="#FFFFFF"></path>
                            <path class="three" d="M0.154393339,3.89485454 L3.97631488,0.139296592 C4.17083111,-0.0518420739 4.48263286,-0.0518571125 4.67716753,0.139262789 L25.6916134,20.7848311 C26.0855801,21.1718824 26.0911863,21.8050225 25.704135,22.1989893 C25.7000188,22.2031791 25.6958657,22.2073326 25.6916762,22.2114492 L4.67709797,42.8607841 C4.48259567,43.0519059 4.17082418,43.0519358 3.97628526,42.8608513 L0.154518591,39.1069479 C-0.0424848215,38.9134427 -0.0453206733,38.5968729 0.148184538,38.3998695 C0.150289256,38.3977268 0.152413239,38.395603 0.154556228,38.3934985 L16.9937789,21.8567812 C17.1908028,21.6632968 17.193672,21.3467273 17.0001876,21.1497035 C16.9980647,21.1475418 16.9959223,21.1453995 16.9937605,21.1432767 L0.15452076,4.60825197 C-0.0425130651,4.41477773 -0.0453986756,4.09820839 0.148075568,3.90117456 C0.150162624,3.89904911 0.152268631,3.89694235 0.154393339,3.89485454 Z" fill="#FFFFFF"></path>
                          </g>
                        </svg>
                      </span> 
                    </a>
                  </div>
            </div>
            <div>
                <div class="wrapper">
                    <a class="ctaT" href="https://www.tiktok.com/@kiwielgato1/video/6967039161526258949?lang=en&is_copy_url=0&is_from_webapp=v1&sender_device=pc&sender_web_id=6965528173161481733" target="blank">
                      <span>KIWI-TOK</span>
                      <span>
                        <svg width="66px" height="43px" viewBox="0 0 66 43" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <g id="arrow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <path class="one" d="M40.1543933,3.89485454 L43.9763149,0.139296592 C44.1708311,-0.0518420739 44.4826329,-0.0518571125 44.6771675,0.139262789 L65.6916134,20.7848311 C66.0855801,21.1718824 66.0911863,21.8050225 65.704135,22.1989893 C65.7000188,22.2031791 65.6958657,22.2073326 65.6916762,22.2114492 L44.677098,42.8607841 C44.4825957,43.0519059 44.1708242,43.0519358 43.9762853,42.8608513 L40.1545186,39.1069479 C39.9575152,38.9134427 39.9546793,38.5968729 40.1481845,38.3998695 C40.1502893,38.3977268 40.1524132,38.395603 40.1545562,38.3934985 L56.9937789,21.8567812 C57.1908028,21.6632968 57.193672,21.3467273 57.0001876,21.1497035 C56.9980647,21.1475418 56.9959223,21.1453995 56.9937605,21.1432767 L40.1545208,4.60825197 C39.9574869,4.41477773 39.9546013,4.09820839 40.1480756,3.90117456 C40.1501626,3.89904911 40.1522686,3.89694235 40.1543933,3.89485454 Z" fill="#FFFFFF"></path>
                            <path class="two" d="M20.1543933,3.89485454 L23.9763149,0.139296592 C24.1708311,-0.0518420739 24.4826329,-0.0518571125 24.6771675,0.139262789 L45.6916134,20.7848311 C46.0855801,21.1718824 46.0911863,21.8050225 45.704135,22.1989893 C45.7000188,22.2031791 45.6958657,22.2073326 45.6916762,22.2114492 L24.677098,42.8607841 C24.4825957,43.0519059 24.1708242,43.0519358 23.9762853,42.8608513 L20.1545186,39.1069479 C19.9575152,38.9134427 19.9546793,38.5968729 20.1481845,38.3998695 C20.1502893,38.3977268 20.1524132,38.395603 20.1545562,38.3934985 L36.9937789,21.8567812 C37.1908028,21.6632968 37.193672,21.3467273 37.0001876,21.1497035 C36.9980647,21.1475418 36.9959223,21.1453995 36.9937605,21.1432767 L20.1545208,4.60825197 C19.9574869,4.41477773 19.9546013,4.09820839 20.1480756,3.90117456 C20.1501626,3.89904911 20.1522686,3.89694235 20.1543933,3.89485454 Z" fill="#FFFFFF"></path>
                            <path class="three" d="M0.154393339,3.89485454 L3.97631488,0.139296592 C4.17083111,-0.0518420739 4.48263286,-0.0518571125 4.67716753,0.139262789 L25.6916134,20.7848311 C26.0855801,21.1718824 26.0911863,21.8050225 25.704135,22.1989893 C25.7000188,22.2031791 25.6958657,22.2073326 25.6916762,22.2114492 L4.67709797,42.8607841 C4.48259567,43.0519059 4.17082418,43.0519358 3.97628526,42.8608513 L0.154518591,39.1069479 C-0.0424848215,38.9134427 -0.0453206733,38.5968729 0.148184538,38.3998695 C0.150289256,38.3977268 0.152413239,38.395603 0.154556228,38.3934985 L16.9937789,21.8567812 C17.1908028,21.6632968 17.193672,21.3467273 17.0001876,21.1497035 C16.9980647,21.1475418 16.9959223,21.1453995 16.9937605,21.1432767 L0.15452076,4.60825197 C-0.0425130651,4.41477773 -0.0453986756,4.09820839 0.148075568,3.90117456 C0.150162624,3.89904911 0.152268631,3.89694235 0.154393339,3.89485454 Z" fill="#FFFFFF"></path>
                          </g>
                        </svg>
                      </span> 
                    </a>
                  </div>
            </div>
        </section>
    </main>
</body>
</html>